@import "tailwindcss";



.container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@media (min-width: 768px) {
  .container {
    padding-inline: 2rem;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-inline: 3rem;
  }
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #FFC700;
  --primary-foreground: #ffffff;
  --border: #424242;

  --font-mono: var(--font-geist-mono);
  --font-sentient: var(--font-sentient);

  --shadow-glow: 0 0 8px 2px var(--tw-shadow-color);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#webgl {
  top: 0;
  left: 0;
  position: fixed;
  height: 100svh;
  width: 100%;
}

#webgl canvas {
  width: 100%;
  height: 100%;
}